.banner {
    background: $main-color;
    &__wrapper {
        margin: 0 auto;
        padding: 24px 0;
        max-width: 1140px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        max-width: 1140px;
    }

    &__title {
        font-size: 20px;
        line-height: 130%;
        color: #ffffff;
    }
}